%% Set up project plugins
{project_plugins, [erlfmt, rebar3_hex, rebar3_ex_doc]}.

%% Set up the erlang options
{erl_opts, [debug_info]}.

%% Dependencies
{deps, [
    {parse_trans, "3.4.0"}
]}.

%% Set up documentation
{ex_doc, [
    {extras, ["README.md", "LICENSE"]},
    {main, "README.md"},
    {source_url, "https://github.com/nobbz/erl_exercism"}
]}.

{hex, [{doc, ex_doc}]}.
